{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Normalizador | Login</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% block css %}
        {% endblock css %}


        <script type="text/javascript" src="{% static 'jquery/jquery-3.1.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static '3rd/simple-sidebar.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/util.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/3rd_scripts/js-cookie.js' %}"></script>
    </head>

    <body>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-3" style="margin-top:150px">
                        <div>
                            {% block content %}
                            {% endblock content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $("#menu-toggle").click(function(e){
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

    </body>
</html>

{% block script %}
{% endblock script %}