.link:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.sortable ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.campo
{
    display: inline;
    margin: 5px;
    padding: 10px;
    /*cursor: move;*/
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    background: rgba(246, 246, 246, .7);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    transition: 5s;
}

.chave
{
    color: rgb(119, 138, 102);
    border: 1px solid rgb(218, 213, 94);
    background: rgb(255, 250, 144);
}

.chave-primaria
{
    color: rgb(119, 138, 102);
    border: 1px solid rgb(218, 213, 94);
    background: rgb(255, 250, 144);
}

.draggable
{
    width: 90px;
    height: 90px;
    padding: 0.5em;
    margin: 0 10px 10px 0;
}

.quebra
{
    height: 40px;
    list-style-type: none;
}

.aviso
{
    margin: 10px auto 10px 10%;
    width: 80%;
    padding: 7px;
    background-color: rgb(249, 197, 112);
}

.opcoes { color: rgba(0,0,0,.5); cursor: pointer; }
.opcoes:hover { color: #000; }

.dependente
{
    background: rgb(216, 216, 216);
}

.lista
{ list-style: none }

.texto-fn { margin-left: 15px }

.img-borda-inferior:hover { border-bottom:1px solid gray; }