
.remove
{
    margin: 5px 10px 5px 20px;
    display: inline;
    cursor: pointer;
}

.item-lista
{
    margin-bottom: 10px;
    display: inline;
    width: 400px;
}

.lista-tabelas li
{
    list-style: none;
}

.espacamento
{
    height: 20px;
}

.glyphicon { cursor: pointer; }

.aviso
{
    padding: 7px 13px 7px 13px;
    border: 1px solid rgb(249,197,112);
    background-color: rgba(249, 197, 112, .5);
    border-radius: 15px;
}

.aviso .titulo
{
    font-weight: bold;
    display: block;
}

.aviso .texto
{
    margin: auto 10px auto 10px;
    display: block;
}

.dropdown-menu-meu{ padding: 7px; }
.dropdown-menu-meu li:hover { background-color: rgba(0,0,0,.2); }

.divisor { height: 20px }

.erro { padding: 7px; background-color: #E55E5; margin: 10px 0px; }
.erro span { color: red }


.tabela-campos { margin-bottom: 20px; }
.tabela-campos tbody tr:nth-child(odd){ list-style: none; background-color: #DDD; border: 1px solid #CCC; border-radius: 5px }
.tabela-campos tbody tr:nth-child(even){ list-style: none; }
.tabela-campos tr th { text-align: center }
.tabela-campos tr td { text-align: center; padding: 3px }
.tabela-campos tr td select { width: 150px; display: inline; margin: 3px 15px }
.tabela-campos tr td img { width: 15px }

.btn-toggle
{
    margin-top: 10px;
    background-color: rgb(61, 61, 103);
    color: #CCC;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-toggle:hover { color: white; }