{% extends 'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Novo Documento</title>
{% endblock css %}

{% block header %}
    <h3>Novo Documento</h3>
{% endblock header %}

{% block content %}
    <form action="{% url 'app:add_documento' %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form_documento %}

        <div class="input" style="margin-bottom: 10px">
            <label for="grupo">Grupo</label>
            <select class="form-control" id="grupo" name="grupo" required>
                {% for grupo in grupos %}
                    <option value="{{grupo.id}}">{{grupo}}</option>
                {% endfor %}
            </select>
        </div>

        <div style="margin: 30px 0 50px 0">
            <h4>Campos
                <button type="button" id="add_campo" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addCampo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </h4>

            <div id="campos" class="col-md-12"></div>
        </div>

        {% buttons %}
            <button name="submit" class="btn btn-enviar">SALVAR</button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block modal %}
    <div id="addCampo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4 class="modal-title">Adicionar Campo</h4>
                </div>
                <div class="modal-body">
                    <div class="input" style="margin-bottom: 10px">
                        <label for="temp_nome">Campo</label>
                        <input class="form-control" id="temp_nome" maxlength="20" placeholder="Campo" required="required" type="text" />
                    </div>

                    {% buttons %}
                        <button name="submit" class="btn btn-enviar" id="btnAddCampo" data-dismiss="modal">ADICIONAR</button>
                    {% endbuttons %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="fechar_modal" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}


{% block script %}
    <script>
        var num = 0;

        $("#btnAddCampo").click(function(){
            let nome = $("#temp_nome").val();

            nome = normalizarNome(nome);

            if(nome == '')
                alert("Insira um nome válido para o campo!");
            else{
                let dom = '<div id="item_'+num+'" class="col-md-12">';
				dom += '<span class="glyphicon glyphicon-remove remove" aria-hidden="true" id="remove_'+num+'" onclick="removeCampo('+num+');"></span>';
                dom += '<input type="text" class="form-control col-md-4" id="campo_'+num+'" name="campo['+num+']" value="'+nome+'" onfocusout="atualizaNormal('+num+');" /></div>';
                $("#campos").append(dom);

                $("#temp_nome").val("");
            }

            num++;
        });

        $("#id_name").focusout(function(){
            var nome = '';
            nome = $(this).val();
            nome = normalizarNome(nome);
            $(this).val(nome);
        });

        function atualizaNormal(num){
            var nome = $("#campo_"+num).val();
            nome = normalizarNome(nome);

            if(nome == '')
                $("#campo_"+num).focus();
            else
                $("#campo_"+num).val(nome);
        }

        function removeCampo(num){
            $("#item_"+num).remove();
        }


        $("#temp_nome").keyup(function(e){
            let codigo = e.which;

            if(codigo==13)
                $("#btnAddCampo").click();
        });

    </script>
{% endblock script %}