{% extends 'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Novo Documento</title>

    <style>
        #add_campo:hover{ color:white; background-color:rgba(61, 61, 103,.9); }
    </style>
{% endblock css %}

{% block header %}
    <h3>Novo Documento</h3>

    <span class="erro" id="msg-erro" style="font-weight:bold; display:none; margin-top:10px;color:rgba(0,0,0,.7)">as</span>
{% endblock header %}

{% block content %}
    <form action="{% url 'app:add_documento' %}" method="POST" class="form">
        {% csrf_token %}
        {% bootstrap_form form_documento %}

        <div class="input" style="margin-bottom: 10px">
            <label for="grupo">Grupo</label>
            <select class="form-control" id="grupo" name="grupo" required>
                {% for grupo in grupos %}
                    <option value="{{grupo.id}}">{{grupo}}</option>
                {% endfor %}
            </select>
        </div>

        <div style="margin: 30px 0 50px 0">
            <h4>Campos
                <button type="button" id="add_campo" class="btn btn-default" data-toggle="modal" data-target="#addCampo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </h4>

            <div id="campos" class="col-md-12"></div>
        </div>

        {% buttons %}
            <button name="submit" class="btn btn-enviar">SALVAR</button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block modal %}
    <div id="addCampo" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times</button>
                    <h4 class="modal-title">Adicionar Campo</h4>
                </div>
                <div class="modal-body">
                    <div class="input" style="margin-bottom: 10px">
                        <label for="temp_nome">Campo</label>
                        <input class="form-control" id="temp_nome" maxlength="20" placeholder="Campo" required="required" type="text" />
                    </div>

                    {% buttons %}
                        <button name="submit" class="btn btn-enviar" id="btnAddCampo" data-dismiss="modal">ADICIONAR</button>
                    {% endbuttons %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="fechar_modal" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}


{% block script %}
    <script>
        var num = 0;
        var campos = new Array();

        $("#btnAddCampo").click(function(){
            let nome = $("#temp_nome").val();

            nome = normalizarNome(nome);

            if(nome == '')
                alert("Insira um nome válido para o campo!");
            else if(campos.indexOf(nome)!=-1){
                $("#msg-erro").fadeIn();
                $("#msg-erro").text("Já existe um campo com esse nome!");
                setTimeout(function(){$("#msg-erro").fadeOut();}, 2000);

                $("#temp_nome").val("");
            }
            else{
                let dom = '<div class="form-group col-md-12" id="item_'+num+'">';
				dom += '<span class="glyphicon glyphicon-remove remove" aria-hidden="true" id="remove_'+num+'" onclick="removeCampo('+num+');"></span>';
                dom += '<input type="text" class="form-control nome-campo" id="campo_'+num+'" name="campo['+num+']" value="'+nome+'" ';
                dom += ' onfocusout="atualizaNormal('+num+');alterarOut(this);" onfocusin="alterarIn(this);" style="display:inline-block; width:40%" />';
                dom += '</div>';
                $("#campos").append(dom);

                $("#temp_nome").val("");

                campos.push(nome);
            }

            num++;
        });


        function alterarIn(dom){
            let temp = $(dom).val();
            let index = campos.indexOf(temp);

            if(index!=-1)
                campos.splice(index, 1);
        }

        function alterarOut(dom){
            let temp = $(dom).val();

            if(campos.indexOf(temp)!=-1){
                $("#msg-erro").fadeIn();
                $("#msg-erro").text("Já existe um campo com esse nome!");
                setTimeout(function(){$("#msg-erro").fadeOut();}, 2000);

                $(dom).val("");
                $(dom).focus();
            }else if(temp)
                campos.push(temp);
        }


        $("#id_name").focusout(function(){
            var nome = '';
            nome = $(this).val();
            nome = normalizarNome(nome);
            $(this).val(nome);
        });

        function atualizaNormal(num){
            var nome = $("#campo_"+num).val();
            nome = normalizarNome(nome);

            if(nome == '')
                $("#campo_"+num).focus();
            else
                $("#campo_"+num).val(nome);
        }

        function removeCampo(num){
            $("#item_"+num).remove();
        }


        $("#temp_nome").keyup(function(e){
            let codigo = e.which;

            if(codigo==13)
                $("#btnAddCampo").click();
        });

    </script>
{% endblock script %}