{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {% block css %}
        {% endblock css %}


        <script type="text/javascript" src="{% static 'jquery/jquery-3.1.1.js' %}"></script>
        <!--<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>-->

        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static '3rd/simple-sidebar.css' %}">

        <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/util.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/3rd_scripts/js-cookie.js' %}"></script>
    </head>

    <body>
        <div id="wrapper" class="toggled">
            {% block sidebar %}
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="{% url 'app:index' %}">
                            {{usuario}}
                        </a>
                    </li>
                    <li class="divisor"></li>
                    <li>
                        <a href="{% url 'app:grupos' %}">Grupos</a>
                    </li>
                    <li>
                        <a href="{% url 'app:documentos' %}">Documentos</a>
                    </li>
                    <li>
                        <a href="{% url 'app:tabelas' %}">Tabelas</a>
                    </li>
                </ul>
            </div>
            {% endblock sidebar %}

            <a href="#menu-toggle" class="btn btn-toggle" id="menu-toggle"><</a>

            <div id="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                {% block header %}
                                {% endblock header %}
                            </div>

                            <div>
                                {% block content %}
                                {% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block modal %}
        {% endblock modal %}

        <script>
            $("#menu-toggle").click(function(e){
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");

                if($("#wrapper").attr("class") == "toggled")
                    $("#menu-toggle").text("<");
                else
                    $("#menu-toggle").text(">");
            });
        </script>

    </body>
</html>

{% block script %}
{% endblock script %}