{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Documento - {{documento}}</title>

    <style>
        .tabela
        {
			width:150px;z-index:666; 
			background-color:#CCC
            border:1px solid black;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .tabela:hover
        {
            box-shadow: 3px 3px 3px #EEE;
        }
    </style>
{% endblock css %}

{% block header %}
    <h3>Diagrama {{documento}}</h3>
{% endblock header %}


{% block content %}

    <div>
        {% for tabela in documento.tabelas %}
            <div class="tabela item" id="tabela_{{tabela.id}}" tabela-id="{{tabela.id}}" relacoes="{{tabela.relacao}}" style="left:{{tabela.pos}}px;">
                {{tabela}}
            </div>
        {% endfor %}
    </div>

    <br><br><br>
{% endblock content %}


{% block script %}
    <script src="{% static '3rd/jsplumb.js' %}"></script>
    <script>
        $(window).ready(function(){
            $("#wrapper").toggleClass("toggled");
        });

        jsPlumb.ready(function(){
            let conexoes = []

            $(".item").each(function(){
                let id = $(this).attr("id");
                let relacoes = $(this).attr("relacoes").replace(" ", "").replace("[", "").replace("]", "").split(",");
                let tabela = $(this).attr("tabela-id");

                for(let i=0; i<relacoes.length; i++){
                    let aux = {"source":tabela, "target":relacoes[i]};

                    if(tabela && relacoes[i])
                        conexoes.push(aux);
                }

                jsPlumb.draggable(id);
            });

            for(let i=0; i<conexoes.length; i++){
                jsPlumb.connect({
                    source:"tabela_"+conexoes[i].source,
                    target:"tabela_"+conexoes[i].target,
                    anchor:["Continuous", { faces:["top","bottom", "left", "right"] }],
                    Endpoint: ["Dot", {radius: 2, maxConnections:-1, isSource:true}],
                    connector: "Flowchart",
                    detachable: false,
                    overlays:[
                        [ "Label", {label:"x", id:"label"}]
                    ]
                });
            }
        });

    </script>
{% endblock script %}