{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block header %}
    <h3>{{documento}}
        <button type="button" id="add_tabela" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addTabela">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </h3>
{% endblock header %}

{% block content %}
    <ul id="lista-tabelas">
        {% for tab in tabelas %}
            <li>
                <a href="{% url 'app:tabela' tab.id %}">{% if tab.name == documento.name %} Campos sem tabela {% else %} {{tab}} {% endif %}</a>
            </li>
        {% empty %}
            <li>
                Não há tabelas relacionadas a esse documento
            </li>
        {% endfor %}
    </ul>
{% endblock content %}