{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Documento - {{documento}}</title>
{% endblock css %}

{% block header %}
    <h3>{{documento}}
        <!--<button type="button" id="add_tabela" class="btn btn-default btn-lg" data-toggle="modal" data-target="#addTabela">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>-->
        <small><a href="{% url 'app:normalizar' documento.id %}">normalizar</a></small>
    </h3>
{% endblock header %}

{% block content %}
    <ul class="lista-tabelas">
        <!-- lista os campos sem tabelas -->
        {% if sem_tabela %}<h4>Campos sem tabela</h4>{% endif %}
        <ul>
            {% for campo in sem_tabela %}
                <li>
                    {{campo}}
                </li>
            {% empty %}
                <h4>Não há campos sem tabelas</h4>
            {% endfor %}
        </ul>
    </ul>

    <div class="espacamento"></div>

    {% if tabelas %}<h4>Tabelas do documento {{documento}}</h4>{% else %}<h4>Não há tabelas registradas para o documento {{documento}}</h4>{% endif %}
    <ul class="lista-tabelas">
        <!-- lista as demais tabelas -->
        {% for tabela in tabelas %}
        <li class="lista-tabela-item">
            <h4 style="display: inline; margin-right: 10px">{{tabela}}</h4>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" id="{{tabela}}"></span>
            <ul style="display: none" id="campos_{{tabela}}">
                {% for campo in tabela.campos %}
                    <li>{{campo}}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        </li>
    </ul>
{% endblock content %}


{% block script %}
    <script>
        $("span").click(function(){
            var id = "campos_"+$(this).attr("id");

            if($("#"+id).css("display")=="none"){
                $("#"+id).css("display", "block");
                $(this).attr("class", "glyphicon glyphicon-chevron-up");
            }
            else{
                $("#"+id).css("display", "none");
                $(this).attr("class", "glyphicon glyphicon-chevron-down");
            }
        });
    </script>
{% endblock script %}