{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Documento | {{documento}}</title>
{% endblock css %}

{% block header %}
    <h3>
        <span class="col-md-10">{{documento}}</span>
        <small>
            <span class="glyphicon glyphicon-copy" id="desnormalizar-documento" title="Desnormalizar"></span>
            <span class="glyphicon glyphicon-share" id="compartilhar-documento" data-toggle="modal" data-target="#modal-compartilhar" title="Compartilhar"></span>
        </small>
    </h3>

    {% if fn == 0 %}
        Documento desnormalizado<br>
        {% if flag_dados %}
            <a href="{% url 'app:normalizar' documento.id %}">normalizar</a>
            <br>
        {% endif %}

        <a href="{% url 'app:inserir_dados_exemplo' documento.id %}">inserir dados</a>
    {% elif fn < 3 %}
        Forma Normal atual: {{fn}}<br>
        <a href="{% url 'app:normalizar' documento.id %}">normalizar</a><br>
    {% elif fn == 3 %}
        Documento Normalizado<br>
        <a href="{% url 'app:script_documento' documento.id %}">gerar script</a><br>
        <a href="{% url 'app:diagrama_documento' documento.id %}">gerar diagrama</a>
    {% endif %}

    <div id="mensagem" class="div-msg" style="display:none;">
        <span class="span-msg"></span>
    </div>

{% endblock header %}

{% block content %}
    {% if fn == 0 %}
        <div class="lista">
            {% if sem_tabela %}
                <div class="header" onclick="mostrar_campos(666);">Campos sem tabela</div>
                <div style="display:none" id="campos_666">
                    {% for campo in sem_tabela %}
                        <div class="item-lista">{{campo}}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="espacamento"></div>

    {% if tabelas %}<h4>Tabelas do documento {{documento}}</h4>{% else %}<h4>Não há tabelas registradas para o documento {{documento}}</h4>{% endif %}

    <div class="lista">
        {% for tabela in tabelas %}
            <div class="header" onclick="mostrar_campos({{tabela.id}});">
                {{tabela}}
            </div>

            <div style="display:none" id="campos_{{tabela.id}}">
                {% for chave in tabela.chaves %}
                    <div class="item-lista">
                        <div style="width:20px; display:inline-block">
                            <img src="{% static 'imagens/gold_key.png' %}" width="17"/>
                        </div>
                        {{chave}}
                    </div>
                {% endfor %}
                {% for chave in tabela.estrangeiras %}
                    <div class="item-lista">
                        <div style="width:20px; display:inline-block">
                            <img src="{% static 'imagens/green_key.png' %}" width="17"/>
                        </div>
                        {{chave}}
                    </div>
                {% endfor %}
                {% for campo in tabela.campos %}
                    <div class="item-lista" style="padding-left:55px">{{campo}}</div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}


{% block modal %}
    <div id="modal-compartilhar" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Compartilhar Documento</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="grupo-receber">Grupo</label>
                        <select class="form-control" id="grupo-receber">
                            {% for grupo in grupos %}
                                <option value="{{grupo.id}}">{{grupo}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="modo-compartilhar">Forma</label>
                        <select class="form-control" id="modo-compartilhar">
                            <option value="1">Desnormalizado</option>
                            <option value="2">Atual</option>
                        </select>
                    </div>


                    {% csrf_token %}
                    {% buttons %}
                        <button name="submit" class="btn btn-enviar" id="enviar-compartilhar" data-dismiss="modal">Compartilhar</button>
                    {% endbuttons %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}


{% block script %}
    <script>
        function mostrar_campos(tabela_id){
            if($("#campos_"+tabela_id).css("display") == "none")
                $("#campos_"+tabela_id).show();
            else
                $("#campos_"+tabela_id).hide();
        }


        $("#enviar-compartilhar").click(function(){
            let documento_id = {{documento.id}};
            let grupo_id = $("#grupo-receber").val();
            let token = $("input[name=csrfmiddlewaretoken]").val();
            let modo_compartilhar = $("#modo-compartilhar").val();

            if(grupo_id){
                $.ajax({
                    type: "POST",
                    url: '{% url 'app:ajax_compartilhar_documento' %}',
                    data: {
                        'documento_id': documento_id,
                        'grupo_id': grupo_id,
                        'modo_compartilhar': modo_compartilhar,
                        'csrfmiddlewaretoken': token
                    },
                    success: function(ret){
                        let json_ret = JSON.parse(ret.content);

                        if(json_ret.resultado){
                            $("#mensagem").attr("class", "div-msg sucesso");
                            $("#mensagem").text("Documento compartilhado com sucesso!");
                        }
                        else{
                            $("#mensagem").attr("class", "div-msg erro");
                            $("#mensagem").text("Erro ao tentar compartilhar o documento!");
                        }

                        $("#mensagem").show();
                        setTimeout(function(){ $("#mensagem").fadeOut('slow'); }, 2000);
                    }
                });
            }
            else
                alert("Selecione um grupo");
        });


        $("#desnormalizar-documento").click(function(){
            let documento_id = {{documento.id}};
            let token = $("input[name=csrfmiddlewaretoken]").val();

            if(confirm("Deseja desnormalizar o documento?")){
                $.ajax({
                    type: "POST",
                    url: '{% url 'app:ajax_desnormalizar_documento' %}',
                    data: {
                        'documento_id': documento_id,
                        'csrfmiddlewaretoken': token
                    },
                    success: function(ret){
                        console.log(ret);
                        let json_ret = JSON.parse(ret.content);

                        if(json_ret.resultado)
                            location.reload();
                    }
                });
            }
        });

    </script>
{% endblock script %}