{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Documentos</title>
{% endblock css %}

{% block header %}
    <h3>Documentos</h3>
    <a href="{% url 'app:add_documento' %}">Novo documento</a>
{% endblock header %}

{% block content %}
    <ul id="lista-tabelas">
        {% for doc in documentos %}
            <li>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="if(confirm('Deseja deletar este documento?'))deletar_documento({{doc.id}});"></span>
                <a href="{% url 'app:documento' doc.id %}">{{doc}}</a>
            </li>
        {% empty %}
            <li>
                Não há documentos cadastrados
            </li>
        {% endfor %}
    </ul>

{% endblock content %}


{% block script %}
    <script>
        function deletar_documento(documento_id){
            $.ajax({
                type: "GET",
                url: "/documentos/"+documento_id+"/deletar",
                success: function(ret){
                    console.log(ret);
                }
            });
        }
    </script>
{% endblock script %}