{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Documentos</title>
{% endblock css %}

{% block header %}
    <h3>Documentos</h3>
    <a href="{% url 'app:add_documento' %}">novo documento</a>
{% endblock header %}

{% block content %}
    <div class="lista">
        {% for documento in documentos %}
            <div class="header redirecionar" onclick="abrir_documento({{documento.id}});">
                <span class="glyphicon glyphicon-remove" aria-hidden="true" onclick="if(confirm('Deseja deletar este documento?'))deletar_documento({{doc.id}});"></span>
                {{documento}}
            </div>
        {% empty %}
            <div>
                Não há documentos cadastrados
            </div>
        {% endfor %}
    </div>

{% endblock content %}


{% block script %}
    <script>
        function deletar_documento(documento_id){
            $.ajax({
                type: "GET",
                url: "/documentos/"+documento_id+"/deletar",
                success: function(ret){
                    console.log(ret);
                }
            });
        }

        function abrir_documento(documento_id){
            location.href = "/documentos/"+documento_id;
        }
    </script>
{% endblock script %}