{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Normalizar {{documento}}</title>
    <link  rel="stylesheet" href="{% static 'normalizar.css' %}">
{% endblock css %}

{% block header %}
    <h3 style="display: inline;">Documento {{documento}}</h3>

    <div class="aviso">
        <span class="titulo">3ª Forma Normal</span>
        <span id="texto-dica">
            "Identificar e definir dependencias transitivas entre itens não chaves"
        </span>
    </div>
    <!--<img src="{% static 'imagens/green_key.png' %}" alt="Chave Estrangeira" title="Chave Estrangeira" />-->
{% endblock header %}


{% block content %}
    <form action="{% url 'app:normalizar' documento.id %}" method="POST">
	
        {% for tabela in documento.tabelas %}
            <div style="padding: 15px">
                <h4>{{tabela}}</h4>
                {% for campo in tabela.campos %}
                    <div class="dropdown" style="display: inline">
                        <div class="campo {% if campo.primary %}chave-primaria{% endif %}" id="{{campo}}_campo"
                         onmouseover="mostrarOp('{{campo}}')"
                         onmouseout="esconderOp('{{campo}}')" style="cursor: context-menu">
                            {{campo}}

                            <span class="caret opcoes" style="display: none" id="{{campo}}_op" id="dropdownMenu_{{campo}}" data-toggle="dropdown" 
									aria-haspopup="true" aria-expanded="true"></span>

                            <ul class="dropdown-menu dropdown-menu-meu" aria-labelledby="dropdownMenu_{{campo}}">
                                {% for dep in tabela.campos %}
                                    {% if dep != campo %}
                                        <li onclick="setarDependencia('{{campo}}', '{{dep}}');" class="item_chave_{{campo}}" id="{{campo}}_{{dep}}">
											{{dep}}
										</li>
                                    {% endif %}
                                {% endfor %}
                                <li role="separator" class="divider"></li>
                                <li onclick="limparDependencia('{{campo}}');">Limpar Dependências</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div style="height: 50px"></div>

        <input type="hidden" name="forma_normal" value="3" />
        {% csrf_token %}
        {% buttons %}
            <button name="submit" class="btn btn-enviar" id="enviar" style="margin-left:15px">SALVAR</button>
        {% endbuttons %}
    </form>
{% endblock content %}

{% block script %}
    <script src="{% static 'scripts/normalizar.js' %}"></script>
    <script>

    </script>
{% endblock script %}