{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Normalizar {{documento}}</title>
    <link  rel="stylesheet" href="{% static 'normalizar.css' %}">
{% endblock css %}

{% block header %}
    <h3 style="display: inline;">Documento {{documento}}
        <!--
            <small>
                <span data-toggle="modal" data-target="#addTabela" class="link" id="link-add-tabela">nova tabela</span>
            </small>
            <small>
                <span data-toggle="modal" data-target="#addCampo" class="link">novo campo</span>
            </small>
        -->
    </h3>

    <!--<img src="{% static 'imagens/gold_key.png' %}" alt="Chave Primária" title="Chave Primária" draggable="true" ondragstart="drag(event)" />-->

    <h3 style="display: inline;">
        <small>
            <span data-toggle="modal" data-target="#dica_fn" class="glyphicon glyphicon-question-sign"></span>
        </small>
    </h3>

    <div class="aviso">
        <span class="titulo">3ª Forma Normal</span>
        <span id="texto-dica"></span>
    </div>
    <!--<img src="{% static 'imagens/green_key.png' %}" alt="Chave Estrangeira" title="Chave Estrangeira" />-->
{% endblock header %}


{% block content %}
    <form action="#" method="POST">
        {% for tabela in arrayTabelas %}
            <div style="padding: 15px">
                <h4>{{tabela.tabela}}</h4>
                {% for campo in tabela.campos %}
                    <div class="dropdown" style="display: inline">
                        <div class="campo {% if campo.primary %}chave-primaria{% endif %}" id="{{campo}}_campo"
                         onmouseover="mostrarOp('{{campo}}')"
                         onmouseout="esconderOp('{{campo}}')"style="cursor: context-menu">
                            {{campo}}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </form>
{% endblock content %}