{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Normalizar {{documento}}</title>
    <link  rel="stylesheet" href="{% static 'normalizar.css' %}">
{% endblock css %}

{% block header %}
    <h3 style="display: inline;">Documento {{documento}}
        <!--
            <small>
                <span data-toggle="modal" data-target="#addTabela" class="link" id="link-add-tabela">nova tabela</span>
            </small>
            <small>
                <span data-toggle="modal" data-target="#addCampo" class="link">novo campo</span>
            </small>
        -->
    </h3>

    <!--<img src="{% static 'imagens/gold_key.png' %}" alt="Chave Primária" title="Chave Primária" draggable="true" ondragstart="drag(event)" />-->

    <h3 style="display: inline;">
        <small>
            <span data-toggle="modal" data-target="#dica_fn" class="glyphicon glyphicon-question-sign"></span>
        </small>
    </h3>

    <div class="aviso">
        <span class="titulo">2ª Forma Normal</span>
        <span id="texto-dica"></span>
    </div>
    <!--<img src="{% static 'imagens/green_key.png' %}" alt="Chave Estrangeira" title="Chave Estrangeira" />-->
{% endblock header %}


{% block content %}
    <form action="{% url 'app:normalizar' documento.id %}" method="POST">
        {% for tabela in arrayTabelas %}
            <div style="padding: 15px">
                <h4>{{tabela.tabela}}</h4>

                {% for campo in tabela.chaves %}
                    <div class="dropdown" style="display: inline">
                        <div class="campo chave-primaria" id="{{campo}}_campo" style="cursor: context-menu">
                            {{campo}}
                        </div>
                    </div>
                {% endfor %}


                {% for campo in tabela.campos %}
                    <div class="dropdown" style="display: inline">
                        <div class="campo {% if campo.primary %}chave-primaria{% endif %}" id="{{campo}}_campo"
                         onmouseover="mostrarOp('{{campo}}')"
                         onmouseout="esconderOp('{{campo}}')"style="cursor: context-menu">
                            {{campo}}
                            <span class="caret opcoes" style="display: none" id="{{campo}}_op" id="dropdownMenu_{{campo}}" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true"></span>

                            <ul class="dropdown-menu dropdown-menu-meu" aria-labelledby="dropdownMenu_{{campo}}">
                                <li onclick="setarDependencia('{{campo}}', '{% for chave in tabela.chaves %}{{chave}} {% endfor %}');" id="li_chave_{{campo}}">Chave Inteira</li>
                                <li role="separator" class="divider"></li>
                                {% for chave in tabela.chaves %}
                                    <li onclick="setarDependencia('{{campo}}', '{{chave}}');" class="item_chave_{{campo}}" id="{{campo}}_{{chave}}">{{chave}}</li>
                                {% endfor %}
                                <li role="separator" class="divider"></li>
                                <li onclick="limparDependencia('{{campo}}');">Limpar Dependências</li>
                            </ul>

                            {% for dep in tabela.dependencias %}
                                {% if campo == dep.campo %}
                                    <input type="hidden" class="{{campo}}_dependencia" value="{{dep.chave}}" />
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div style="height: 50px"></div>

        <input type="hidden" name="forma_normal" value="2" />
        {% csrf_token %}
        {% buttons %}
            <!--<button name="submit" class="btn btn-primary" id="enviar" style="margin-left: 40px">SALVAR</button>-->
            <div class="btn btn-primary" id="enviar">SALVAR</div>
        {% endbuttons %}
    </form>
{% endblock content %}


{% block script %}
    <script src="{% static 'scripts/normalizar.js' %}"></script>
    <script>
        var id_mensagem = 0;

        function verificaQuantidadeTabelas(){

        }

        function setarMensagem(){
            if(id_mensagem == 0){
                $("#texto-dica").html("<span class=\"texto\">Informe as dependências de cada campo não chave!</span>");
            }
        }


        $(document).ready(function(){
            verificaQuantidadeTabelas();
            setarMensagem();

            $("#sem_tabela").hide();
            $("#espaco-sem-tabela").hide();
        });

        $("#enviar").click(function(){
            $(".campo").each(function(){
                var id = "#"+$(this).attr('id');
                id = id.replace("_campo", "");
                $(id+"_top").val($(this).position().top);
                $(id+"_left").val($(this).position().left);
                console.log(id+' '+$(this).position().top);
            });

            $(".tabela").each(function(){
                var id = "#"+$(this).attr('id');
                $(id+"_top").val($(this).position().top);
            });

            $("form").submit();
        });

        $(document).ready(function(){
            var i = 0;
            $(".campo").each(function(){
                var id = "#"+$(this).attr('id');
                id = id.replace("_campo", "");
                $(id+"_top").val($(this).position().top);
                $(id+"_left").val($(this).position().left);
            });

            $(".tabela").each(function(){
                var id = "#"+$(this).attr('id');
                $(id+"_top").val($(this).position().top);
            });

            prepararDependencias();
        });

        function atualizarTabelas(){
            var nomes = '';

            $(".tabela").each(function(){
                var id = "#"+$(this).attr('id');
                $(id+"_top").val($(this).position().top);

                if($(this).attr('id') != 'sem_tabela')
                    nomes += $(this).attr('id')+'666';
            });

            //ATUALIZA OS COOKIES COM OS NOMES DAS TABELAS
            Cookies.set('tabelas', String(nomes.toLowerCase()), {expires: 1});
        }

        //submissao ajax para adicionar tabela
        $("#btnAddTabela").click(function(){
            var nome = $("#nova_tabela").val();
            var pag = 'normalizar';
            var documento = {{documento.id}};
            var token = $("input[name=csrfmiddlewaretoken]").val();

            nome = normalizarNome(nome);

            if(nome != ""){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'app:ajax_add_tabela' %}',
                    data: {
                        'nome': nome,
                        'pag': pag,
                        'documento': documento,
                        'csrfmiddlewaretoken': token
                    },
                    success: function(ret){
                        var aux = parseInt(ret.content);
                        if(aux === 1)
                            alert('Já existe uma tabela com esse nome!');
                        else{
                            $("#todas_tabelas").append(ret.content);
                            $("#addTabela").modal("hide");
                            $("#nova_tabela").val("");
                            atualizarTabelas();
                            verificaQuantidadeTabelas();
                            setarMensagem();
                        }
                    }
                });
            }
            else
                alert("Insira um nome para a nova tabela!");
        });

        //submissao ajax para adicionar campo
        $("#btnAddCampo").click(function(){
            var nome = $("#novo_campo").val();
            var pag = 'normalizar';
            var documento = {{documento.id}};
            var token = $("input[name=csrfmiddlewaretoken]").val();

            nome = normalizarNome(nome);

            if(nome != ""){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'app:ajax_add_campo' %}',
                    data: {
                        'nome': nome,
                        'pag': pag,
                        'documento': documento,
                        'csrfmiddlewaretoken': token
                    },
                    success: function(ret){
                        $(ret.content).insertAfter($("#sem_tabela"));
                        $("#novo_campo").val("");
                        $("#addCampo").modal("hide");
                        $("#sem_tabela").show();
                        $("#espaco-sem-tabela").show();
                    }
                });
            }
            else
                alert("Insira um nome para o novo campo!");
        });

        function drag(ev){
            //console.log(ev.target.id);
            //ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev){
            //ev.preventDefault();
            //var data = ev.dataTransfer.getData("text");
            //ev.target.appendChild(document.getElementById(data));
            var aux = $(ev.target).attr("id").split("_")[0];
            var id = "#"+aux+"_primaria";
            $(ev.target).css("background-color", "rgb(119, 138, 102)");
            $(ev.target).css("border", "1px solid rgb(218, 213, 94)");
            $(ev.target).css("background", "rgb(255, 250, 144)");
            $(id).val(1);
        }
        function allowDrop(ev){
            ev.preventDefault();
        }


        function mostrarOp(campo){
            var id = "#"+campo+"_op";
            $(id).show();
        }

        function esconderOp(campo){
            var id = "#"+campo+"_op";
            $(id).hide();
        }

        function setarDependencia(campo, dependencia){
            var cont = 0;
            var classe = campo+'_dependencia';
            $("."+classe).each(function(){
                cont++;
            });

            if(dependencia){
                var aux = dependencia.split(' ')
                var tam = aux.length;

                for(var i=0; i<tam; i++){
                    if(aux[i]){
                        var dep = document.createElement('input');
                        $(dep).attr({
                            'type': 'hidden',
                            'id': campo+'_dependencia_'+cont,
                            'name': campo+'_dependencia_'+cont,
                            'class': campo+'_dependencia',
                            'value': aux[i]
                        });

                        var id_campo = "#"+campo+"_campo";
                        $(id_campo).addClass("dependente");
                        $(id_campo).append($(dep));

                        $("#li_chave_"+campo).hide();
                        $("#"+campo+"_"+dependencia).hide();

                        cont++;
                    }
                }
            }
        }

        function limparDependencia(campo){
            var classe = "."+campo+'_dependencia';
            var id_campo = "#"+campo+"_campo";

            $(classe).remove();
            $(id_campo).removeClass("dependente");

            $("#li_chave_"+campo).show();
            $(".item_chave_"+campo).show();
        }

        function prepararDependencias(){
            $(".campo").each(function(){
                if($(this).attr('class').search("chave-primaria") == -1){
                    var aux = $(this).attr('id').split('_');
                    var campo = '';

                    for(var i=0; i<aux.length-1; i++)
                        campo += aux[i]+'_';
                    campo = campo.substring(0, campo.length-1);

                    var classe_dep = "."+campo+"_dependencia";
                    var cont = 0;

                    $(classe_dep).each(function(){
                        $(this).attr({
                            'id': campo+'_dependencia_'+cont,
                            'name': campo+'_dependencia_'+cont,
                        });

                        var dependencia = $(this).val();

                        $("#li_chave_"+campo).hide();

                        if(dependencia == 'chave')
                            $(".item_chave_"+campo).hide();
                        else
                            $("#"+campo+"_"+dependencia).hide();

                        cont++;
                    });

                    if(cont)
                        $("#"+campo+"_campo").addClass("dependente");
                }
            });
        }
    </script>
{% endblock script %}