{% extends "app/base.html" %}
{% load bootstrap %}
{% load static %}

{% block css %}
    <title>Grupo | {{grupo}}</title>
{% endblock css %}

{% block header %}
    <h3>Grupo {{grupo}}</h3>
    <a href="{% url 'app:grupo_adicionar_usuario' grupo.id %}">Adicionar usuário</a>
{% endblock header %}

{% block content %}
    <div class="lista">
        {% for usuario in grupo.usuarios %}
            <div class="header">
                {{usuario}}
            </div>
        {% endfor %}
    </div>

{% endblock content %}