{% extends "app/base.html" %}
{% load bootstrap %}
{% load static %}

{% block css %}
    <title>Grupos</title>
{% endblock css %}

{% block header %}
    <h3>Grupos</h3>
    <a href="{% url 'app:grupo_registrar' %}">novo grupo</a>
{% endblock header %}

{% block content %}
    <div class="lista">
        {% for grupo in grupos %}
            <div class="header" onclick="abrir_grupo({{grupo.id}});">
                {{grupo}}
            </div>
        {% endfor %}
    </div>
{% endblock content %}


{% block script %}
    <script>
        function abrir_grupo(grupo_id){
            location.href = "/grupos/"+grupo_id;
        }
    </script>
{% endblock script %}