{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Dados | {{documento}}</title>
    <link  rel="stylesheet" href="{% static 'dados_exemplo.css' %}">

    <style>
        #pai-de-todos
        {
            display: inline-block;
            vertical-align: top;
        }
    </style>
{% endblock css %}


{% block header %}
    <h3>Dados de exemplo {{documento}}</h3>
{% endblock header %}


{% block content %}
    <div id="tudao" style=" overflow-x: auto; white-space: nowrap;">
        <div class="lista-campos">
            {% for campo in documento.campos %}
                <div id="pai-de-todos">
                    <div class="item-lista-campos" id="div-{{campo.id}}" campo-id="{{campo.id}}">
                        <div class="header opcao adicionar" campo-id="{{campo.id}}" style="width:100%">
                            <div style="display:inline-block; width:90%">{{campo}}</div>
                            <div style="display:inline"><span class="glyphicon glyphicon-plus" style="z-index:666; margin-bottom:10px;"></span></div>
                        </div>

                        <div id="dados-{{campo.id}}">
                            {% for dado in campo.dados %}
                                <div id="div-dado-{{dado.id}}">
                                    <span class="glyphicon glyphicon-remove remover" bd-id="{{dado.id}}" onclick="remover_dados(this);"></span>
                                    <input type="text" class="dado" bd-id="{{dado.id}}" campo-id="{{campo.id}}" value="{{dado.texto}}" style="width:200px" onfocusout="salvar_dado(this);"/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% csrf_token %}
{% endblock content %}


{% block script %}
    <script>
        var campos = new Array();

        $(document).ready(function(){
            $("#wrapper").toggleClass("toggled");

            $(".item-lista-campos").each(function(){
                campos.push({"id":$(this).attr("campo-id"), "quantidade":0});
            });

            $(".dado").each(function(){
                let campo_id = $(this).attr("campo-id");

                for(let i=0; i<campos.length; i++){
                    if(campos[i].id == campo_id){
                        let quantidade = campos[i].quantidade + 1;

                        $(this).attr("id", "dado_"+campo_id+"_"+quantidade);
                        campos[i].quantidade = quantidade;
                    }
                }
            });
        });

        $(".adicionar").click(function(){
            let campo_id = $(this).attr("campo-id");
            let quantidade = 0;

            for(let i=0; i<campos.length; i++){
                if(campos[i].id == campo_id){
                    quantidade = campos[i].quantidade + 1;
                    campos[i].quantidade = quantidade;
                }
            }

            let html = $("#dados-"+campo_id).html();

            if(html == '')
                html += '<br>';

            html = '<div id="renomear-div">';
            html += '<span class="glyphicon glyphicon-remove remover" id="renomear-span" bd-id="0" onclick="remover_dados(this);"></span> ';
            html += '<input type="text" class="dado" id="renomear-input" bd-id="0" campo-id="'+campo_id+'" value="" style="width:200px" onfocusout="salvar_dado(this);"/>'
            html += '</div>';

            $("#dados-"+campo_id).append(html);
        });


        function salvar_dado(dom){
            let dados = {
                "campo_id": $(dom).attr("campo-id"),
                "dado": $(dom).val(),
                "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                "dado_id": $(dom).attr("bd-id"),
                "acao": "adicionar"
            };

            if(dados.dado == ""){
                remover_dados(dom);
                return ;
            }

            if(dados.dado_id!=0 || dados.dado!='')
                $.ajax({
                    type: "POST",
                    url: "{% url 'app:ajax_dado_exemplo' %}",
                    data: dados,
                    success: function(ret){
                        let json_ret = JSON.parse(ret.content);
                        $("#renomear-div").attr({"id":"div-dado-"+json_ret.dado_id});

                        $("#renomear-span").attr({"bd-id":json_ret.dado_id});
                        $("#renomear-span").removeAttr("id");

                        $("#renomear-input").attr({"bd-id":json_ret.dado_id});
                        $("#renomear-input").removeAttr("id");
                        console.log(json_ret);
                    }
                });
        }

        function remover_dados(dom){
            let dados = {
                "dado_id": $(dom).attr("bd-id"),
                "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val(),
                "acao": "remover"
            };

            $.ajax({
                type: "POST",
                url: "{% url 'app:ajax_dado_exemplo' %}",
                data: dados,
                success: function(ret){
                    $("#div-dado-"+$(dom).attr("bd-id")).remove();
                }
            });
        }
    </script>
{% endblock script %}