{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Normalizar {{documento}}</title>
    <link  rel="stylesheet" href="{% static 'normalizar.css' %}">
{% endblock css %}

{% block header %}
    <h3>Documento {{documento}}
        <small><span data-toggle="modal" data-target="#addTabela">nova tabela</span></small>
    </h3>
{% endblock header %}

{% block content %}
    <ul class="sortable lista-tabelas" id="todas_tabelas">
        <!-- lista os campos sem tabelas -->
        {% if sem_tabela %}<h4>Campos sem tabela</h4>{% endif %}
        {% for campo in sem_tabela %}
           <li class="ui-state-default campo" id="{{campo}}">
                {{campo}}
                <input type="hidden" id="{{campo}}_top" name="{{campo}}['top']" value="0" />
                <input type="hidden" id="{{campo}}_left" name="{{campo}}['left']" value="0" />
            </li>
        {% empty %}
            <h4>Não há campos sem tabelas</h4>
        {% endfor %}

        <!-- lista as demais tabelas -->
        {% for tabela in arrayTabelas %}
            <div style="height: 30px"></div>
            <h4>{{tabela.tabela}}</h4>
            {% for campo in tabela.campos %}
                <li class="ui-state-default campo" id="{{campo}}">
                    {{campo}}
                    <input type="hidden" id="{{campo}}_top" name="{{campo}}['top']" value="0" />
                    <input type="hidden" id="{{campo}}_left" name="{{campo}}['left']" value="0" />
                </li>
            {% endfor %}
        {% endfor %}
    </ul>


    <!-- modal add tabela-->
    <div id="addTabela" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Adicionar Tabela</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="nova_tabela">Nome</label>
                        <input class="form-control" id="nova_tabela" maxlength="20" name="nova_tabela" placeholder="Nome" title="" type="text" required />
                    </div>

                  {% csrf_token %}
                  {% buttons %}
                        <button name="submit" class="btn btn-primary" id="btnAddTabela">ADICIONAR</button>
                  {% endbuttons %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script src="{% static 'scripts/normalizar.js' %}"></script>
    <script>
        $(document).ready(function(){
            var i = 0;
            $(".campo").each(function(){
                var id = "#"+$(this).attr('id');
                $(id+"_top").val($(this).position().top);
                $(id+"_left").val($(this).position().left);
            });

            $(".tabela").each(function(){
                var id = "#"+$(this).attr('id');
                $(id+"_top").val($(this).position().top);
            });
        });

        //submissao ajax para adicionar tabela
        $("#btnAddTabela").click(function(){
            var nome = $("#nova_tabela").val();
            var pag = 'normalizar';
            var documento = {{documento.id}};
            var token = $("input[name=csrfmiddlewaretoken]").val();

            nome = normalizarNome(nome);

            if(nome != ""){
                $.ajax({
                    type: 'POST',
                    url: '{% url 'app:ajax_add_tabela' %}',
                    data: {
                        'nome': nome,
                        'pag': pag,
                        'documento': documento,
                        'csrfmiddlewaretoken': token
                    },
                    success: function(ret){
                        $("#todas_tabelas").append(ret.content);
                        $("#addTabela").modal("hide");
                        $("#nova_tabela").val("");
                        atualizaClasse();
                    }
                });
            }
            else
                alert("Insira um noma para a nova tabela");
        });
    </script>
{% endblock script %}