{% extends  'app/base.html' %}
{% load bootstrap3 %}
{% load static %}


{% block css %}
    <title>Normalizar {{documento}}</title>
    <link  rel="stylesheet" href="{% static 'normalizar.css' %}">
{% endblock css %}


{% block header %}
    <h3 style="display: inline;">Documento {{documento}}
        <!--
            <small>
                <span data-toggle="modal" data-target="#addTabela" class="link" id="link-add-tabela">nova tabela</span>
            </small>
            <small>
                <span data-toggle="modal" data-target="#addCampo" class="link">novo campo</span>
            </small>
        -->
    </h3>

    <!--<img src="{% static 'imagens/gold_key.png' %}" alt="Chave Primária" title="Chave Primária" draggable="true" ondragstart="drag(event)" />-->

    <h3 style="display: inline;">
        <small>
            <span data-toggle="modal" data-target="#dica_fn" class="glyphicon glyphicon-question-sign"></span>
        </small>
    </h3>

    <div class="aviso">
        <span class="titulo">2ª Forma Normal</span>
        <span id="texto-dica">Renomeie as tabelas geradas pela aplicação!</span>
        <span id="mensagem-geral"></span>
    </div>
{% endblock header %}


{% block content %}
    <form action="{% url 'app:normalizar' documento.id %}" method="POST">
        <ul class="lista">
            {% for tabela in tabelas %}
                <li style="margin-bottom: 20px">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control nome col-md-6" id="nome_{{tabela.tabela.id}}" value="{{tabela.tabela}}">
                    </div>
                    {% buttons %}
                        <div class="btn btn-primary enviar" tabela="{{tabela.tabela.id}}">RENOMEAR</div>
                    {% endbuttons %}

                    <ul class="lista">
                        <li>Campos</li>
                        {% for campo in tabela.campos %}
                            <li style="margin-left: 10px">{{campo}}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        {% csrf_token %}
    </form>
{% endblock content %}


{% block script %}
    <script>
        $(".nome").focusout(function(){
            var aux = normalizarNome($(this).val());
            $(this).val(aux);
        });

        $(".enviar").click(function(){
            var codigo_tabela = $(this).attr("tabela");
            var nome = $("#nome_"+codigo_tabela).val();
            nome = normalizarNome(nome);
            var token = $("input[name=csrfmiddlewaretoken]").val();

            $.ajax({
                type: "POST",
                url: '{% url 'app:ajax_renomear_tabela' %}',
                data: {
                    'nome': nome,
                    'tabela': codigo_tabela,
                    'csrfmiddlewaretoken': token
                },
                success: function(){
                    location.reload();
                }
            });
        });
    </script>
{% endblock script %}