{% extends 'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Tabelas</title>
{% endblock css %}

{% block header %}
    <h3>Tabelas</h3>
{% endblock header %}

{% block content %}

    {% for documento in documentos %}
        <ul class="lista-tabelas">
            <li>{{documento}}</li>

            <li>
                <ul>
                    {% for tabela in documento.tabelas %}
                        <li>
                            <a href="{% url 'app:tabela' tabela.id %}">{{tabela}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}

{% endblock content %}

{% block script %}
    <script>

    </script>
{% endblock script %}