{% extends 'app/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block css %}
    <title>Tabelas</title>
{% endblock css %}

{% block header %}
    <h3>Tabelas</h3>
{% endblock header %}

{% block content %}

    {% for documento in documentos %}
        <div class="lista">
            <div class="header">{{documento}}</div>
            {% for tabela in documento.tabelas %}
                <div class="item-lista redirecionar" onclick="abrir_tabela({{tabela.id}});">
                    {{tabela}}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock content %}

{% block script %}
    <script>
        function abrir_tabela(tabela_id){
            location.href = "/tabelas/"+tabela_id;
        }
    </script>
{% endblock script %}